<style>
        img{
            width: 10%;
            margin: 20 px auto;
            display: block;
        }

        table{
            border: 1px purple solid;
            margin: 0px auto;
        }
    </style>